<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers></servers>
    <mirrors></mirrors>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>artifactory</id>
            <properties>
                <artifactory.mine.username>${env.int_mine_user}</artifactory.mine.username>
                <artifactory.mine.password>${env.int_mine_apikey}</artifactory.mine.password>
                <artifactory.mine.url>${env.int_mine_url}</artifactory.mine.url>
            </properties>
        </profile>
    </profiles>
</settings>
